block vars

doctype html
html
    head
        meta(charset="utf-8")
        meta(name="description", content="")
        meta(name="keywords", content="")
        meta(name="robots", content="index, follow")
        meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1.0")
        
        link(rel="stylesheet", 
            href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css", 
            integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO", 
            crossorigin="anonymous")
        link(rel="stylesheet", 
            href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" 
            integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU", 
            crossorigin="anonymous")
        link(rel="icon", 
            href="./../images/favicon.ico", 
            type="image/x-icon", 
            sizes="32x32")
        link(rel="stylesheet", 
            href="./../styles/index.scss")

        title=title

    body
        .wrapper
            block header
                include ../blocks/header

            main.container-fluid
                block container

            include ../blocks/scripts
            block script