block vars

doctype html
html
    head
        meta(charset="utf-8")
        meta(name="description" content="")
        meta(name="keywords" content="")
        meta(name="robots" content="index, follow")
        meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0")

        //- bootstrap4
        link(rel="stylesheet", 
            href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css", 
            integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO", 
            crossorigin="anonymous")
        //- fontawesome
        link(rel="stylesheet", 
            href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" 
            integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU", 
            crossorigin="anonymous")        
        //- favicon
        link(rel="icon", 
            href="./../images/favicon.ico", 
            type="image/x-icon", 
            sizes="32x32")

        title=title
        
        block link

    if authorized
        body
            .wrapper
                block header
                    include ../blocks/adminHeader
                main.row.container-fluid
                    block container
    else if watchStreaming
        body
            .wrapper
                block header
                    include ../blocks/header
                main.row.container-fluid
                    block container
                block footer
                    include ../blocks/footer
    else
        body.row
            .col-lg-0.col-xl-1.main-content-clone
            .col-lg-12.col-xl-10.wrapper(style="padding-left: 0; padding-right: 0;").main-content-wrapper
                block header
                    include ../blocks/header

                main.row.container-fluid
                    block container

                block footer
                    include ../blocks/footer
            .col-lg-0.col-xl-1.main-content-clone

    include ../blocks/scripts
    block script